/**
 * Elements are global styles.  They are very generic, in fact, you
 * should think long and hard before adding anything to this stylesheet.
 * Do not add font sizes or colors in here...yes even if it's global
 * because the truth is it probably isn't as global as you think.
 */
html {
   box-sizing: border-box;
   font: {
      family: get-stack(sans-serif);
      size: get-stack(base-size);
      weight: get-font-weight(light);
   }
   letter-spacing: get-stack(letter-spacing);
   line-height: get-stack(line-height);
   height: 100%;
}

* {
   box-sizing: inherit;
   -webkit-overflow-scrolling: touch;
   &:before, &:after {
      box-sizing: inherit;
   }
}

body {
   height: 100%;
   margin: 0;
   -webkit-font-smoothing: antialiased !important;
   -moz-osx-font-smoothing: grayscale !important;
}

img {
   height: 100%;
   width: 100%;
}

h1, h2, h3, h4, h5, h6 {
   color: get-color(dove-gray);
   font: {
      family: get-stack(sans-serif);
      weight: get-font-weight(regular);
   }
   letter-spacing: 0;
   margin: 0;
}

b, strong {
   font-weight: get-font-weight(regular);
}

p, ul, ol {
   font-size: inherit;
}

a {
   color: inherit;
}

p {
   margin: 0;
   padding: 0;
}

nav {
   ol, ul {
      list-style-type: none;
      margin: 0;
      li {
         margin: 0;
         padding: 0;
      }
   }
}

article {
   border-bottom: 1px solid get-color(gallery);
   margin-top: 2em;
   padding-bottom: 2em;
   @include last() {
      border: none;
   }
}

.rule {
   display: none;
   border: 0;
   border-top: 1px solid get-color(gallery);
   margin-bottom: 25px;
   margin-top: 30px;
   opacity: 0.5;
   width: 70%;
   &--nav {
      border: 0;
      border-top: 1px solid get-color(dove-gray);
      margin-bottom: 30px;
      margin-top: 30px;
      opacity: 0.5;
      width: 100%;
   }
   @media screen and ( max-height: 700px )  {
      margin-bottom: 15px;
      margin-top: 15px;
   }
}
