.container {
    align-content: center;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: center;
    min-height: 100%;
}

.secondary-content {
   align-self: stretch;
   background: $color-gray;
   color: $color-white;
   flex: 0 0 303px;
   order: 1;
   position: relative;
   text-align: right;

   .wrapper {
      height: 100%;
      padding: 111px 32px 0 32px;
      position: fixed;
      width: 303px;
      @media screen and ( max-height: 900px )  {
         padding-top: 10px;
      }
   }
}

.main-content {
    align-self: stretch;
    flex: 1 1 80%;
    order: 2;
    padding: 18px 32px;
    .wrapper {
       padding: 0 10% 0 20%;
       max-width: 1600px;
       @include media("<xlarge") {
          padding: 0 5% 0 10%;
       }
       @include media("<large") {
          padding: 0 2% 0 5%;
       }
    }
}

footer {
   bottom: 20px;
   left: 45px;
   position: absolute;
   right: 33px;
   p {
      @include font-size(9px);
      font-weight: $font-weight-thin;
      padding-bottom: 10px;
   }
   @media screen and ( max-height: 900px )  {
      bottom: auto;
      left: auto;
      padding: 10px 32px 0 32px;
      position: relative;
      width: 303px;
   }
}

nav {
   a {
      color: inherit;
      display: block;
      text-decoration: none;
   }
}
