.container {
    align-content: center;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: center;
    min-height: 100%;
    overflow: hidden;
}

.type-headline {
   @include font-size(16px);
   font-style: italic;
   text-transform: uppercase;
}

.secondary-content {
   align-self: stretch;
   background: get-color(charcoal);
   color: get-color(white);
   flex: 0 0 303px;
   order: 1;
   position: relative;
   text-align: right;

   .wrapper {
      height: 100%;
      padding: 10px 32px 0 32px;
      position: fixed;
      overflow-y: scroll;
      width: 303px;
   }
}

.large-avatar {
   float: right;
   width: 200px;
   height: 200px;
   border-radius: 50%;
   border: 2px solid get-color(charcoal);
}

.main-content {
    align-self: stretch;
    flex: 1 1 80%;
    order: 2;
    padding: 18px 32px 18px 0;
    .wrapper {
       padding: 0 7% 0 15%;
       max-width: 1600px;
       @include media("<xlarge") {
          padding: 0 3% 0 10%;
       }
       @include media("<large") {
          padding: 0 1% 0 5%;
       }
    }
}

footer {
   bottom: 20px;
   left: 45px;
   position: absolute;
   right: 33px;
   p {
      @include font-size(9px);
      font-weight: get-font-weight(thin);
      padding-bottom: 10px;
   }
   @media screen and ( max-height: 650px )  {
      bottom: auto;
      left: auto;
      padding: 10px 32px 0 32px;
      position: relative;
      width: 303px;
   }
}

nav {
   a {
      color: inherit;
      display: block;
      text-decoration: none;
   }
}
