.container {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    min-height: 100%;
}

.secondary-content {
   align-self: stretch;
   background: $color-gray;
   color: $color-white;
   order: 1;
   flex: 0 0 303px;
   text-align: right;

   .wrapper {
      padding: 111px 32px 0 32px;
      position: fixed;
      width: 303px;
      height: 95%;
      @media screen and ( max-height: 900px )  {
         padding-top: 10px;
      }
   }
}
.main-content {
    align-self: stretch;
    flex: 1 1 80%;
    order: 2;
    padding: 18px 32px;
}

footer {
   bottom: 40px;
   left: 45px;
   position: absolute;
   right: 33px;
   p {
      @include font-size(9px);
      padding-bottom: 10px;
      font-weight: $font-weight-thin;
   }
   @media screen and ( max-height: 900px )  {
      bottom: auto;
      left: auto;
      padding: 10px 32px 0 32px;
      position: relative;
      width: 303px;
   }
}

nav {
   a {
      color: inherit;
      display: block;
      text-decoration: none;
   }
}
