.masthead {
   &__logo {
      font-family: $font-logo;
      letter-spacing: -3px;
      margin-top: -20px;
      text-align: right;
      a  {
         @include font-size(55px);
         color: $color-gray;
         text-decoration: none;
      }
   }
}
