.meta-data {
   @include container;
   &--full {
      margin: 1em 0;
      width: 100%;
   }

   &--inside {
      @include span(last 12 of 16);
      margin: 1em 0;
      @include media("<small") {
         @include span(16 of 16);
      }
   }

   &--left {
      @include span(10 of 16);
      margin: 1em 0;
   }

   &--right {
      @include span(last 6 of 16);
      margin: 1em 0;
      text-align: right;
   }
}

.meta-list {
   color: $color-light-gray;
   font-family: $font-copy;
   list-style-type: none;
   margin: 0;
   padding: 0;

   &__item {
      @include font-size(14px);
      display: inline-block;
      padding: 0 5px;
      font-weight: $font-weight-light;
      @include media("<small") {
         @include font-size(12px);
      }
      @include first() {
         padding-left: 0;
      }
      @include last() {
         padding-right: 0;
      }
   }
}
