.menu-toggler {
   color: get-color(white);
   display: block;
   margin-bottom: 60px;
   text-decoration: none;
   @media screen and ( max-height: 700px )  {
      margin-bottom: 1em;
   }
   @include media("<medium") {
      margin-bottom: 1em;
   }
   &__bars {
      @include font-size(24px);
      display: block;
      padding-bottom: 5px;
   }
   &__text {
      @include font-size(10px);
      display: block;
      text-transform: uppercase;
   }
}

.navigation-list {
   &__item {
      @include font-size(31px);
      font-weight: get-font-weight(ultra-bold);
      line-height: 1.1;
      padding-bottom: 8px;
      @media screen and ( max-height: 700px )  {
         @include font-size(25px);
      }
   }

   &--icons {
      .navigation-list__item {
         @include font-size(23px);
         display: inline-block;
         padding-right: 15px;
         @include last() {
            padding-right: 0;
         }
         @media screen and ( max-height: 700px )  {
            @include font-size(18px);
            padding-right: 10px;
         }
      }
   }

   &--secondary {
      padding-top: 6px;
      .navigation-list__item {
         @include font-size(16px);
         font-weight: get-font-weight(regular);
         padding-bottom: 9px;
         @media screen and ( max-height: 700px )  {
            @include font-size(14px);
            padding-bottom: 5px;
         }
      }
   }
}

