.tweet {
   margin: 0;
   padding: 1.5rem 0;
   &__text {
      @include font-size(22px);
      color: #454444;
      font: {
         family: $font-headlines;
         weight: $font-weight-ultra-bold;
      }
   }
}
