.mediabox {
   @include container;
   &__visual {
      @include span(4 of 16);
      padding: 0 1em 0 0;
      @include media("<small") {
         @include span(16 of 16);
         margin-bottom: 2em;
      }
   }
   &__text {
      @include span(last 12 of 16);
      @include media("<small") {
         @include span(16 of 16);
      }
      &--full {
         @include span(16 of 16);
      }
   }
}

.tweet {
   margin: 0;
   padding: 1.5rem 0;
   &__text {
      @include font-size(28px);
      color: get-color(charcoal);
      font: {
         family: get-stack(serif);
         weight: get-font-weight(light);
      }
      @include media("<small") {
         @include font-size(23px);
      }
      @include media("<bitty") {
         @include font-size(18px);
         line-height: 1.4;
      }
      a {
         color: get-color(picton-blue);
         text-decoration: none;
      }
   }
}
