.mediabox {
   @include container;
   &__visual {
      @include span(4 of 16);
   }
   &__text {
      @include span(last 12 of 16);
      &--full {
         @include span(16 of 16);
      }
   }
}

.tweet {
   margin: 0;
   padding: 1.5rem 0;
   &__text {
      @include font-size(28px);
      color: #454444;
      font: {
         family: $font-copy;
         weight: $font-weight-light;
      }
      a {
         color: $color-blue;
         text-decoration: none;
      }
   }
}
